fermateBolognaGavociXSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="fermate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fermata" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="denominazione">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="classe" type="xs:complexType">
                      <xs:attribute name="nome" type="xs:string"/>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ubicazione" type="xs:string"/>
              <xs:element name="indirizzo" type="xs:string"/>
              <xs:element name="numero_civico" type="xs:string"/>
              <xs:element name="telefono__si_no_" type="xs:string"/>
              <xs:element name="numero_stalli" type="xs:integer"/>
              <xs:element name="codice_via" type="xs:integer"/>
              <xs:element name="civkey" type="xs:string"/>
              <xs:element name="coordinata_x" type="xs:decimal"/>
              <xs:element name="coordinata_y" type="xs:decimal"/>
              <xs:element name="longitudine" type="xs:decimal"/>
              <xs:element name="latitudine" type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
